<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
<a th:href="@{/}">Return Home</a>
<form  th:object="${blog}" action="/edit" method="post" >
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input th:field="*{title}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label  class="form-label">Subtitle</label>
        <input th:field="*{subtitle}" type="text" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">Image</label>
        <input th:field="*{image}" type="text" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <input th:field="*{content}" type="text" class="form-control" >
    </div>


    <button type="submit" class="btn btn-primary">Update</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>